<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="globestyle.css" rel="stylesheet" type = "text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Document</title>
</head>
<body style="background-color: #f3f3f3;">

    <nav class="navbar is-fixed">
        <div class="navbar-brand">
            <a class="navbar-item">
                foodOracle
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
        </div> <!-- / navbar-brand -->

        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item">
                    Home
                </a>
            </div> <!-- / navbar-start -->
        </div> <!-- / navbar-menu -->

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        <strong>Write A Review</strong>
                    </a>
                    <a class="button is-danger">
                        Log Out
                    </a>
                </div>
            </div> <!-- / navbar-item-->
        </div> <!-- /navbar-end-->

    </nav>

   <header style="background-image: url('https://files.wallpaperpass.com/2019/10/food%20wallpaper%20131%20-%201920x1080.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat; height: 55vh">
    <div>
        <h1 style="text-align: center; color: white; padding-top: 9rem; font-size: 80px;" class="title">foodOracle</h1>
    </div>
   </header>

   <div style="margin-top: 2rem; text-align: center; font-size: 20px;">
       <h3>foodOracle's Favorite Restaurants</h3>
   </div>

   <div class="columns is-centered">
        <div class="column is-narrow">

            <div class="card" style="margin-top: 1rem;">
                <div class="card-image">
                    <figure>
                        <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1135988554%2F960x0.jpg%3Ffit%3Dscale" style="width: 250px" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content" style="text-align: center; font-size: larger;">
                            <a href="/restaurants">Fast Food</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="column is-narrow">
            <div class="card" style="margin-top: 1rem;">
                <div class="card-image">
                    <figure>
                        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F19%2F2020%2F10%2F08%2Fblueberry-pancake-1255787230-2000.jpg" style="width: 250px" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content" style="text-align: center; font-size: larger;">
                            <a href="#">Breakfast</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="card" style="margin-top: 1rem;">
                <div class="card-image">
                    <figure>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBbHi01kz4wjcJNU2IWx8R8Dc_g7Vpk2TIdA&usqp=CAU" style="width: 250px" />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content" style="text-align: center; font-size: larger;">
                            <a href="#">Vietnamese</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>