<html>
  <head>
    <meta charset="utf-8">
    <title>Yelp</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="home.css" rel="stylesheet">
    <title>Home</title>
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@500&display=swap');
    </style>
  <body class="main-page">
    <!--   main-header start's here -->
    <header class="main-header">
      <div class="main-header__wrapper">
        <div class="nav-wrapper">
          <nav class="main-nav">
        <ul class="main-list">
          <li class="main-list__item"><a href="javascript:void(0);" class="main-list__link">Write a Review</a></li>
        </ul>
      </nav>
          <div class="logon-box">
        <ul class="logon-list">
          <li class="logon-list__item"><a href="" class="logon-list__link Login">Log In</a></li>
          <li class="logon-list__item"><a href="" class="logon-list__link SignUp">Register</a></li>
        </ul>
      </div>
        </div>
        <div class="main-logo">
          <a href="javascript:void(0);"><img class="logo" src="yelp-logo-2.png" alt="yelp logo" /></a>
        </div>
        <!--       search box start's here -->
        <div class="search">
          <div class="left-side">
            <input type="text" placeholder="" class="field request">
            <div class="field-wrapper">
                <span class="field-title find">Food</span>
            </div>
            <!-- <ul class="left-side__sublist">
              <li class="left-side__subitem"><a href="#" class="left-side__sublink restaraunts first">Restaurants</a></li>
              <li class="left-side__subitem"><a href="#" class="left-side__sublink bar">Breakfast & Brunch</a></li>
              <li class="left-side__subitem"><a href="#" class="left-side__sublink coffee">Coffee & tea</a></li>
              <li class="left-side__subitem"><a href="#" class="left-side__sublink delivery">Delivery</a></li>
              <li class="left-side__subitem"><a href="#" class="left-side__sublink takeout">Takeout</a></li>
              <li class="left-side__subitem"><a href="#" class="left-side__sublink reservations">Reservations</a></li>
            </ul> -->
          </div>
          <div class="right-side">
            <input type="text" placeholder="HoustAtlantaVegas" class="field location">            
            <div class="field-wrapper">
              <span class="field-title near">Near</span>
            </div>
            <ul class="right-side__sublist">
              <li class="right-side__subitem"><a href="javascript.void(0);" class="right-side__sublink current">Current Location</a></li>
              <li class="right-side__subitem"><a href="javascript.void(0);" class="right-side__sublink state">San Francisco</a></li>
            </ul>
          </div>
          <a href="javascript.void(0);" class="search-button">Search</a>
        </div>
        <!-- <form class="example" action="/action_page.php">
          <input style="margin:auto;width:100%" type="text" placeholder="Feed Me" name="search2">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form> -->
        <!--       /search box end's here -->
        <!--       categories box start's here -->
        <div class="categories">
        <ul class="categories-list">
           
          <li class="categories-list__item">
            <img src="https://s3-media2.fl.yelpcdn.com/assets/srv0/svg_icons/aafb83c8f161/assets/sprite.png" alt="" width="18px" height="18px" class="categories-list__img restaurants-icon"/>
            <a href="javascript:void();" class="categories-list__link">Restaurants</a>
          </li>
        </ul>
  </body>
</html>