<!-- THIS IS GOING TO BE THE CODE THAT GOES UNDER THE NAVBAR -->

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@500&display=swap');
        </style>

<img class="logo" src="../images/yelp-logo-2.png" alt="">


<h1 style="font-size: 6vw;">Food Oracle</h1>


<!-- <div style="text-align: center; margin: 15px;">
    <h3>foodOracles Favorite Food Categories</h3>
</div>

<div class="card" style="width: 18rem; margin-left: 15rem;">
    <img src="./images/americanFood.jpeg" class="card-img-top" alt="...">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title">American</h5>
     </div>
  </div> -->
  