<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="../styles/globestyle.css" rel="stylesheet" type = "text/css">
    <title>Document</title>
</head>
<body>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@500&display=swap');
        </style>

<img class="logo" src="../images/yelp-logo-2.png" alt="">

   <div class="container">
    
    <!--user input text doesnt fit box-->
    <h1 style="font-size: 5vw;">Login Page</h1>
    <form action="/login" method="POST">
        <div style="font-size: 3vw;" class="text">
                <label for="name">Name:</label>
                <input class="inputN" type="text" id="name" for="name" required>
            </div>
            <div style="font-size: 3vw;" class="text">
                <label for="email">Email:</label>
                <input class="inputE" type="email" id="email" for="email" required>
            </div>
            <div style="font-size: 3vw;" class="text">
                <label for="password">Password:</label>
                <input class="input" type="password" id="password" for="password" required>
            </div>
            <div style="font-size: 3vw;" class="text">
                <label for="userName">username:</label>
                <input class="input" type="userName" id="userName" for="userName" required>
            </div>
            <div class="buttons">
                <button class="btn" type="submit">Login</button>
            </div>
            <br>
            <div class="button">
                <a class="btnr" href="/users/register">Register</a>
            </div> 
            
    
        </div>
    </form>
    </div>
    <br>

    
</div>

</div>

</body>
</html>