<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    ${vietnameseReviews.map(results => `
        <h1>${results.restaurant_name}</h1>
        <p>${results.review_content}</p>
        <form>
            <input type="text" name="newContent" id="newContent">
            <input type="submit" value="Update Review" class="updateBtn">
        </form>
        <button class="deleteReview">Delete</button>
    `).join('')}
    <script>
        const deleteButtons = document.getElementsByClassName('deleteReview')
        console.log(deleteButtons[0].previousElementSibling.previousElementSibling.innerHTML)
        for (let i = 0; i < deleteButtons.length; i++){ 
            
            deleteButtons[i].addEventListener('click', (e) => {
                e.preventDefault();
                let restaurantName = e.target.previousElementSibling.previousElementSibling.innerHTML
                fetch('/restaurants/vietnamese/reviews/' + restaurantName, {
                    method: 'DELETE'
                }).then(response => response.json())
                .then((data) => {
                    console.log(data)
                    location.reload();
                })
            })


        }
        const updateButtons = document.getElementsByClassName('updateBtn')
        for (let i = 0; i < updateButtons.length; i++){
            updateButtons[i].addEventListener('click', (e) => {
                e.preventDefault()
                let name = e.target.parentElement.previousElementSibling.previousElementSibling.innerHTML
                fetch('/restaurants/vietnamese/reviews/' + name, {
                    method: 'PUT'
                }).then(response => response.json())
                .then((data) => {
                    console.log(data)
                    // location.reload();
                })
            })
        }
    </script>
</body>
</html>