body{
  background-color:#000000;
  background-image: url("../styles/food2.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
  
}


 h1{
  color: whitesmoke; 
  font-family: 'Oswald', sans-serif;
  font-size: 300% ;
 }

.buttons{
  display: block;
  position: relative;
  margin-left: 45.9%;
}

.button {
  display: block;
  position: relative;
  margin-left: 45.9%;
  
}

.btn {
  border: none;
  background-color: rgb(22, 6, 6);
  cursor: pointer;
  display: block;
  position: relative;

}

.btn{
  border: none;
  background-image: linear-gradient(to bottom right,rgb(182, 0, 0), rgb(182, 5, 5), rgb(184, 0, 0));
  color: whitesmoke;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px 5px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  height: 3rem;
  width: 8rem;
  
}

.btnr {
  border: none;
  background-color: rgb(22, 6, 6);
  cursor: pointer;
  display: block;
  position: relative;
}

.btnr{
  border: none;
  background-image: linear-gradient(to bottom right,rgb(182, 0, 0), rgb(182, 5, 5), rgb(184, 0, 0));
  color: whitesmoke;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px 5px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  height: 3rem;
  width: 8rem;
  padding-top: 5px;
}

.btn:hover {
  background-image: linear-gradient( rgb(255, 255, 255), rgb(224, 224, 224));
  color:rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
  text-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.5) ;
}


.btn:active {
  transform: translateY(10px);
 
}

.btnr:hover {
  background-image: linear-gradient( rgb(255, 255, 255), rgb(224, 224, 224));
  color:rgb(0, 0, 0);
  font-family: 'Oswald', sans-serif;
  text-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.5) ;
}


.btnr:active {
  transform: translateY(10px);
 
}

.logo {
  width: 8% ;
  height: 16% ;
  display: inline;
}

.text{
  color: whitesmoke;
  font-family: 'Oswald', sans-serif; 
  font-size: 2em;

}

.input{
  height: .6em;
  width: 5em;
}

.inputN{
  height: .6em;
  width: 6.5em;
}

.inputE{
  height: .6em;
  width: 6.5em;
}

.container{
  position: relative;
  text-align: center;
  
}



@media (min-width:200px) {
  .btn{
    font-size: .7em;
    height: 1.5rem;
  width: 3rem;
    padding-top:3px;

  }

}


@media (min-width:200px) {
  .btnr{
    font-size: .7em;
    height: 1.5rem;
  width: 3rem;
    padding-top:3px;

  }

}





@media (min-width:320px) {
  .btn{
    font-size: .7em;
    height: 1.5rem;
  width: 3rem;
    padding-top:3px;

  }

}


@media (min-width:320px) {
  .btnr{
    font-size: .7em;
    height: 1.5rem;
  width: 3rem;
    padding-top:3px;

  }

}


@media (min-width:480px) {
  .btn{
    font-size: 1em;
    height: 2rem;
  width: 4rem;
  }

}


@media (min-width:480px) {
  .btnr{
    font-size: 1em;
    height: 2rem;
  width: 4rem;

  }
  
}



@media (min-width:576px) {
  .btn{
    font-size: 1em;
    height: 2rem;
  width: 4rem;
  }

}


@media (min-width:768px ) {
  .btn{
    font-size: 1em;
    height: 2rem;
  width: 4rem;

  }
}

@media (min-width:576px ) {
  .btnr{
    font-size: 1em;
    height: 2rem;
  width: 4rem;

  }
  
}


@media (min-width:768px ) {
  .btnr{
    font-size: 1em;
    height: 2rem;
  width: 4rem;

  }
  
}



@media (min-width:992px) {
  .btn{
    font-size: 1.5em;
    height: 3rem;
  width: 8rem;

  }
}

@media (min-width:992px) {
  .btnr{
    font-size: 1.5em;
    height: 3rem;
  width: 8rem;
  }

}

@media (min-width:1200px) {
  .btn{
    font-size: 1.5em;
    height: 3rem;
  width: 8rem;

  }
}

@media (min-width:1200px) {
  .btnr{
    font-size: 1.5em;
    height: 3rem;
  width: 8rem;
    
  }

}

@media (min-width:1400px) {
  .btn{
    font-size: 1.5em;
    height: 3rem;
  width: 8rem;

  }
}

@media (min-width:1400px) {
  .btnr{
    font-size: 1.5em;
    height: 3rem;
  width: 8rem;

  }
  
}


