.logo {
    width: 8% ;
    height: 16% ;
    display: inline;
    position: relative;
  }


* {
	box-sizing: border-box;
}
body {
    background-image: url(Restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* .main-page {
  padding: 0;
  font-size: 0;
  line-height: 0;
  box-sizing: border-box;
} */

/********* main-header *****/


.main-header__wrapper {
  position: relative;
  width: 60%;
  min-height: 30%;
  margin: 0 auto;
  padding: 40px;
}

.main-nav {
  font-family: 'Oswald', sans-serif; 
  font-size: 0.9em;
  line-height: 0;
}

.main-nav .main-list {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline;
  padding-right: 5px;
  font-weight: bold;
}

.main-nav .main-list__link:link {
  font-size: 1rem;
  line-height: 0.9rem;
  color: #fff;
  text-decoration: none;
  padding: 12px 11px 9px 11px;
}

.main-nav .main-list__link:hover {
  border-bottom: 2px solid  #D32323;
}

.logon-box {
  position: absolute;
  top: 38px;
  right: 0;
  padding: 0;
}

.logon-box .logon-list {
  margin: 0;
  padding: 0;
}

.logon-box .logon-list__item {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 0.9rem;
  padding: 0;
  margin: 0;
}

.logon-box .logon-list__link {
  color: #fff;
  text-decoration: none;
}

.logon-list__link.Login {
  padding: 10px;
  margin-right: 15px;
}

.logon-list__link.Login:hover {
  border-bottom: 2px solid  #D32323;
}

.logon-list__link.SignUp {
  padding: 7px 23px 8px 23px;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: #D32323;
}

.logon-list__link.SignUp:hover {
  background:  #fff;
  color: black;
}

.nav-wrapper {
  margin-bottom: 94px;
}

.main-logo {
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;
  margin-bottom: 46px;
}

/*************** Search-Box start here ************/

.search {
  width: 105%;
  font-size: 0;
  line-height: normal;
  margin-bottom: 10px;
  
}

/***** Categories box style ****
********************************/

.categories {
  margin-bottom: 110px;
}

.categories-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.categories-list .categories-list__item {
  display: inline-block;
  margin-right: 30px;
}

.categories-list .categories-list__item:nth-child(4) {
  margin-right: 0;
}

.categories-list .categories-list__link {
  display:inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}

.categories-list .categories-list__link:hover {
  text-decoration: underline;
}

.categories-list img.categories-list__img {
  object-fit: none;
  object-position: 0 0;
  width: 18px;
  height: 18px;
  margin-right: 0.3rem;
  display: inline-block;
  vertical-align: middle;
}

img.categories-list__img.restaurants-icon {
  object-fit: none;
  object-position: -93px -1890px;
}

img.categories-list__img.nightlife-icon {
  object-fit: none;
  object-position: -94px -2394px;
}

img.categories-list__img.services-icon {
  object-fit: none;
  object-position: -94px -3006px;
}

img.categories-list__img.delivery-icon {
  object-fit: none;
  object-position: -94px -2431px;
}


.left-side {
  position: relative;
  display: inline-block;
  width: 480px;
  box-sizing: border-box;
  vertical-align: middle;
}

.left-side__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-side::before {
  position: absolute;
  top: 6px;
  right: -1px;
  content: '';
  width: 1px;
  height: 30px;
  border-right: 1px solid #ccc;
  z-index: 2;
}

.field-wrapper {
  box-sizing: border-box;
  position: relative;
}

.field {
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  padding: 11px 0 14px 58px;
  outline: none;
  border: 0;
  border-radius: 4px;
}

.field.request {
  position: relative;
  display: inline-block;
  width: inherit;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.field.location {
  position: relative;
  display: inline-block;
  width: inherit;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: 0;
  border-radius: 0;
}

.field-title {
  position: absolute;
  top: -30.5px;
  left: 11px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  color: #666;
  z-index: 999;
}

.field-title.find {
  position: absolute;
  top: -33px;
}

.left-side__sublist {
  display: none;
  width: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

.left-side__subitem {
  position: relative;
}

.left-side__sublink {
  display: inline-block;
  width: 480px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  padding: 7px 7px 7px 37px;
  box-sizing: border-box;
}

.restaraunts.left-side__sublink {
  border-radius: -10px -10px 0 0;
}

.restaraunts.left-side__sublink:before {
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/lkouja0w9/sprite.png);
  background-position: 0 -2px;
}

.restaraunts.left-side__sublink:hover::before {
  position: absolute;
  left: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/itbyiltvt/sprite_white.png);
  background-position: -2px -8px;
}

.bar.left-side__sublink:before {
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/tbtuao01l/bar_wht.png);
  background-position: 0 -2px;
}

.bar.left-side__sublink:hover::before {
  position: absolute;
  left: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/xyzwcfneh/bar_blue.png);
  background-position: 0px -2px;
}

.coffee.left-side__sublink:before {
  position: absolute;
  left: 5px;
  top: 7px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/lkouja0w9/sprite.png);
  background-position: 0 -91px;
}

.coffee.left-side__sublink:hover::before {
  position: absolute;
  left: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/itbyiltvt/sprite_white.png);
  background-position: -5px -68px;
}

.delivery.left-side__sublink:before {
  position: absolute;
  left: 5px;
  top: 6px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/lkouja0w9/sprite.png);
  background-position: 0 -134px;
}

.delivery.left-side__sublink:hover::before {
  position: absolute;
  left: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/itbyiltvt/sprite_white.png);
  background-position: -3px -93px;
}

.takeout.left-side__sublink:before {
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/lkouja0w9/sprite.png);
  background-position: 0 -177px;
}

.takeout.left-side__sublink:hover::before {
  position: absolute;
  left: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/itbyiltvt/sprite_white.png);
  background-position: -5px -120px;
}

.reservations.left-side__sublink {
  border-radius: 0 0 4px 4px;
}

.reservations.left-side__sublink:before {
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/lkouja0w9/sprite.png);
  background-position: 0 -220px;
}

.reservations.left-side__sublink:hover::before {
  position: absolute;
  left: 5px;
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(https://s26.postimg.org/itbyiltvt/sprite_white.png);
  background-position: -5px -145px;
}

.field:focus ~ .left-side__sublist {
  position: absolute;
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.field.request:focus {
  border-radius: 4px 0 0 0;
}

.left-side__sublink:hover {
  background-color: #0173BA;
  color: #fff;
}

/* right-side */

.right-side {
  display: inline-block;
  width: 417px;
  box-sizing: border-box;
  margin-left: 0;
  vertical-align: middle;
}

.field-title.near {
  position: absolute;
  top: -34px;
}

.field.near::-webkit-input-placeholder { 
  color: #000;
}

/* right-side dropdown */

.right-side__sublist {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

.right-side__subitem {
  position: relative;
}

.right-side__sublink {
  position: relative;
  display: inline-block;
  width: 417px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-stretch: condensed;
  padding: 7px 7px 7px 37px;
  box-sizing: border-box;
}

.right-side__sublink.state {
  border-radius: 0 0 4px 4px;
}

.right-side__sublink.current {
  color: #0073BB;
}

.right-side__sublink:hover {
  color: #fff;
  background-color: #0073BB;
}

.right-side__sublink.current:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-image: url(https://s26.postimg.org/r1a5huswp/location.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.right-side__sublink.current:hover::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-image: url(https://s26.postimg.org/9roq2ti9l/location_blue.png);
}

/* .field:focus ~ .right-side__sublist {
  display: block;
} */

/* /right-side dropdown */

/* right-side button */

.search-button {
  display: inline-block;
  width: 63px;
  height: 45px;
  box-sizing: border-box;
  background-color: #D32323;
  background-repeat: no-repeat;
  background-position: 17px 8px;
  color:white;
  font-size: 0;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
}

/* /right-side button */

