@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.nav-items {
    display: flex;
    
}

.nav-items a{
    color: #fff;
    text-decoration: none;

}

.nav-items a:hover {
    border-bottom: 2px #fff;
}

section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}