<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="globestyle.css" rel="stylesheet" type = "text/css">
    <title>Document</title>
</head>
<body>
    <img class="logo" src="yelp-logo-2.png" alt="">
    <h1>Login Page</h1>

    <form action="/login" method="POST">
        <div class="text">
                <label for="name">Name:</label>
                <input class="inputN" type="text" id="name" for="name" required>
            </div>
            <div class="text">
                <label for="email">Email:</label>
                <input class="inputE" type="email" id="email" for="email" required>
            </div>
            <div class="text">
                <label for="password">Password:</label>
                <input class="input" type="password" id="password" for="password" required>
            </div>

        </div>

        <button class="btn" type="submit">Login</button>
        
    </form>
    <a class="btn" href="/register">Register</a>

    <img src="Atlanta_Restaurants_.jpeg" alt="">
</body>
</html>